input{
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.email{
    display: block;
    margin-top: 10px;
    width: 325px;
    vertical-align: middle;

}
.first, .last{
    width: 150px;
}
button{
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    font-style: bold;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 346px;
    background-color: rgb(32, 115, 217);
    color: white;
}