img{
    border-radius: 200px;
    object-fit: cover;
    object-position: middle;
    height: 50px;
    width: 50px;
    vertical-align: middle;
}
input{
    border: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom:10px ;
    padding-right: 10px;
    border-style: bold;
    vertical-align: middle;
}
button{
    color: white;
    font-style: bold;
    background-color: rgb(24, 122, 208);
    border: none;
    padding-top: 6px;
    padding-left: 15px;
    padding-bottom:6px ;
    padding-right: 15px;
    border-radius: 20px;
    vertical-align: middle;
}
div{
   box-shadow: 0 0px 10px rgba(0,0,0,0.3);
    width: 320px;
    padding-left: 15px;
    border-radius: 5px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}